PORT=8080
HOST=localhost
MONGODB_URI=mongodb+srv://<username>:<password>@nestjs.zljwbhf.mongodb.net/ToDoList?appName=NestJS
INIT_DB=true
BCRYPT_SALT_ROUNDS=10
DEFAULT_PASSWORD="123456"
# access token
JWT_ACCESS_TOKEN_SECRET=""
JWT_ACCESS_EXPIRE=1h
# refresh token
JWT_REFRESH_TOKEN_SECRET=""
JWT_REFRESH_EXPIRE=1d